body{
                width: 100%;
                margin: 0 auto;
                background: url('background.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }
            .wrapper{
                margin: 0 auto;
                width: 100px;
            }
            .logo{
                width: 150px;
                height: 150px;
            }
                       
                        .blogspot{
                            width: 1000px;
                            margin: 0 auto;
                            margin-top: 50px;
                        }
                        h1{
                            margin-top: -5px;
                            text-transform: capitalize;
                        }
                        h2{
                            margin-top: -20px;
                            text-transform: capitalize;
                        }
                        h1, h2{
                            text-indent: 0.2em;
                            letter-spacing: 1.5px;
                            text-align: justify;
                        }
                        p{
                            text-indent: 1em;
                            letter-spacing: 1.5px;
                            text-align: justify;
                        }
                        .border{
                            border: 1px solid;
                            background: #FFFFFF;
                            color: #f4b642;
                            width: 1000px;
                            margin-top:20px;
                        }
                        pre{
                            margin-left: 400px;
                        }
                        .border img{
                            width: 200px;
                            height: 200px;
                            text-align: center;
                            border-radius: 100%;
                            margin-left: 400px;
                            margin-top: 5px;
                        }