body{
                width: 100%;
                margin: 0 auto;
                background: url('background.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }
            .wrapper{
                margin: 0 auto;
                width: 100px;
            }
            .logo{
                width: 150px;
                height: 150px;
            }
                        .navi {
                            background: #f4b642;
			  width: 100%;
			  padding: 0;
			  height: 60px;
			  position:relative;
			  margin: 0 auto;
			    
			}
			.navi ul {
			  list-style:none;
			  padding:0 20px;
			  margin: 0 auto;
			  width: 1000px;
			  height: 60px;
			}
			.navi ul li {
			  display: inline-block;
			  font-size: 20pt;
			}
                        .navi ul li a {
			  color: #000;
			  display:block;	
			  padding:0px 40px;
			  text-decoration:none;
			  float: left;
			  height: 60px;
			  line-height: 60px;
			}
			.navi ul li:hover {
			  background: #333333;
			}
			.navi ul li:hover > a{
			    color:#FFFFFF;
			}
                       
                        form{
                            margin-top: 30px;
                        }
                        div{
                            width: 400px;
                            margin: 0 auto;
                            margin-top: 10px;
                        }
                         label{
                            width: 100px;
                            font-size: 25px;
                            font-weight: bold;
                            font-family: "Times New Roman", Georgia, Serif;
                            margin: 0 auto;
                            color:blue;
                            margin-top: 20px;
                        }
                        .username span{
                            width: 100px;
                            font-size: 25px;
                            font-family: "Times New Roman", Georgia, Serif;
                            margin-left: 25px;
                        }
                        .password input{
                            width: 200px;
                            font-size: 25px;
                            font-family: "Times New Roman", Georgia, Serif;
                            margin-left: 30px;
                        }
                         .email input{
                            width: 200px;
                            font-size: 15px;
                            height: 30px;
                            font-family: "Times New Roman", Georgia, Serif;
                            margin-left: 67px;
                        }
                         .tanggal span{
                            width: 100px;
                            font-size: 25px;
                            font-family: "Times New Roman", Georgia, Serif;
                            margin-left: 50px;
                        }
                         .gender span{
                            width: 100px;
                            font-size: 25px;
                            font-family: "Times New Roman", Georgia, Serif;
                            margin-left: 50px;
                        }
                        button{
                            width: 80px;
                            height: 40px;
                            margin-left: 0px;
                            margin-top: 20px;
                        }
                        .tombol{
                            width: 100px;
                            margin: 0 auto;
                        }
                        .submit{
                           margin-top: 10px;
                           width: 80px;
                           height: 40px;
                        }
                        
                        