body {margin: 0 auto; font-size: 25px; background: url('background.jpg'); background-size: cover; background-repeat: no-repeat;}
.wrapper {margin: 0 auto; width: 500px; margin-top: 100px;}
form label {display: inline-block; min-width: 150px; font-size: 35px;}
.text {height: 30px; width: 250px; font-size: 25px; margin-left: 35px;}
.tanggal{height: 30px; width: 220px; font-size: 20px; margin-left: 15px;}
.radio {width: 25px; height: 20px; margin-left: 45px;}
select {height: 30px;}
form div {margin: 0.5em;}
.register {width: 90px; height: 35px; margin-left: 350px; margin-top: 20px; }
.register:hover {background: orange; color: white;}
#dataTidakLengkap{font-size: 15px; color:red; margin-left: 25px; margin-top: -50px;}