<html>
    <head>
        <title>Blog Newbie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%block style%}<link rel="stylesheet" href="css/body.css">{%endblock%}
    </head>
    <body>
        <div class="wrapper">
        <img src="css/blog.png" class="logo">  
        </div>
        <div class="navi">
            <ul>
                <li><a href="body.php">Blog</a></li>
                <li><a href="profile.php">Profil</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>
        {%block body%}
        <div class="body">
            <form method="POST" action="blog.php">
                <div class="judul">
                    <label>Judul:</label>
                    <input type="text" name="judul">
                </div>
                <div class="genre">
                    <label>Genre:</label>
                    <select name="genre">
                        <option value="-genre-">-Genre-</option>
                        <option value="Horror">Horror</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Love">Love</option>
                        <option value="Action">Action</option>
                        <option value="Live">Live</option>
                    </select>
                </div>
                <div class="story">
                    <label>Story:</label>
                    <textarea name="story"></textarea>
                </div>
                <div class="btn">
                    <input type="submit" value="add">
                </div>
                <div id="text">
                {%block p%}{%endblock%}
                </div>
            </form>
        </div>{%endblock%}
    </body>
</html>