
<!DOCTYPE html>
<html>
	<head>
		<title>login</title>
		<link rel="stylesheet" href="css/login.css">
                
	</head>
	<body>
	<form method="POST" action="login.php" enctype="multipart/form-data">
		<div class="wrapper">
			<div>
				<label>Username:</label>
				<input type="text" name="username" class="input" id="username">
			</div>
			<div>
				<label>Password:</label>
				<input type="password" name="password" class="input">
			</div>
			<div>
                            <input type="submit" name="submit" value="Login" class="login" onclick="hello();">
			</div>
			<div class="register">
				<a href="register.php">Register</a>/<a href="templates/forgotpassword.html">Forgot Password?</a>
			</div>
                    <script type="text/javascript" src="js/username.js"></script>
                    <div class="error">
                    {% block body %}{% endblock %}
                    </div>
                </div>

		
	</form>
	</body>
</html>